@import url("https://fonts.googleapis.com/css2?family=Federo&family=Russo+One&family=Six+Caps&family=Wire+One&display=swap");
@-webkit-keyframes homepage-slideX {
  0% {
    -webkit-transform: translateX(-75%);
            transform: translateX(-75%);
  }
  100% {
    -webkit-transform: translateX(75%);
            transform: translateX(75%);
  }
}
@keyframes homepage-slideX {
  0% {
    -webkit-transform: translateX(-75%);
            transform: translateX(-75%);
  }
  100% {
    -webkit-transform: translateX(75%);
            transform: translateX(75%);
  }
}

@-webkit-keyframes ripple {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    width: 35px;
    height: 35px;
  }
}

@keyframes ripple {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    width: 35px;
    height: 35px;
  }
}

@-webkit-keyframes visible {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50% {
    -webkit-transform: scaleY(0.005);
            transform: scaleY(0.005);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes visible {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50% {
    -webkit-transform: scaleY(0.005);
            transform: scaleY(0.005);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes invisible {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.005);
            transform: scaleY(0.005);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
}

@keyframes invisible {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.005);
            transform: scaleY(0.005);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1 {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

li {
  list-style: none;
}

body {
  font-family: "Wire One", sans-serif;
  background-color: #f9e7e7;
}

.transition-slide {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html.is-animating .transition-slide {
  opacity: 0.9;
}

.between-pages {
  position: absolute;
  width: 100vw;
  background-color: #f06449;
  z-index: 50;
}

.transition-swipe {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  height: 0;
}

html.is-animating .transition-swipe {
  height: 100vh;
}

header nav {
  padding: 10px 50px 10px 40px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

header ul li {
  text-decoration: underline;
  z-index: 30;
  font-family: "Federo", sans-serif;
  font-size: 2rem;
}

aside {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.icon__container {
  display: initial;
}

.icon__container .fab {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scale(3);
          transform: scale(3);
  margin: 20px 0;
}

.homepage-title {
  font-family: "Federo", sans-serif;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
}

.main-container .piece {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #bc69aa;
  opacity: 0.5;
  z-index: -5;
  pointer-events: none;
}

.main-container .piece:nth-child(1) {
  top: 385px;
  left: -361px;
  -webkit-transform: scale(0.21931);
          transform: scale(0.21931);
}

.main-container .piece:nth-child(2) {
  top: -173px;
  left: -157px;
  -webkit-transform: scale(1.59042);
          transform: scale(1.59042);
}

.main-container .piece:nth-child(3) {
  top: 10px;
  left: -392px;
  -webkit-transform: scale(0.91507);
          transform: scale(0.91507);
}

.main-container .piece:nth-child(4) {
  top: 325px;
  left: 153px;
  -webkit-transform: scale(1.94439);
          transform: scale(1.94439);
}

.main-container .piece:nth-child(5) {
  top: 8px;
  left: -162px;
  -webkit-transform: scale(0.57026);
          transform: scale(0.57026);
}

.main-container .piece:nth-child(6) {
  top: 81px;
  left: -282px;
  -webkit-transform: scale(1.47676);
          transform: scale(1.47676);
}

.main-container .piece:nth-child(7) {
  top: 79px;
  left: -209px;
  -webkit-transform: scale(1.43922);
          transform: scale(1.43922);
}

.main-container .piece:nth-child(8) {
  top: -174px;
  left: -122px;
  -webkit-transform: scale(0.91883);
          transform: scale(0.91883);
}

.main-container .piece:nth-child(9) {
  top: 280px;
  left: -287px;
  -webkit-transform: scale(1.94276);
          transform: scale(1.94276);
}

.main-container .piece:nth-child(10) {
  top: -342px;
  left: -132px;
  -webkit-transform: scale(0.06783);
          transform: scale(0.06783);
}

.main-container__projets,
.main-container__about {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.main-container__projets:hover .circle,
.main-container__about:hover .circle {
  -webkit-animation: none;
          animation: none;
  opacity: 0;
}

.main-container__projets .circle,
.main-container__about .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -100;
  opacity: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.main-container__projets .circle--origin,
.main-container__about .circle--origin {
  opacity: 1;
  width: 35px;
  height: 35px;
  background: #f06449;
}

.main-container__projets .circle--one,
.main-container__about .circle--one {
  border: solid #bc69aa 12px;
  -webkit-animation: ripple 5s infinite;
          animation: ripple 5s infinite;
}

.main-container__projets .circle--two,
.main-container__about .circle--two {
  border: solid #f06449 12px;
  -webkit-animation: ripple 5s infinite;
          animation: ripple 5s infinite;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.main-container__projets .circle--three,
.main-container__about .circle--three {
  border: solid #bc69aa 12px;
  -webkit-animation: ripple 5s infinite;
          animation: ripple 5s infinite;
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}

.main-container__projets .text,
.main-container__about .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -2;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  pointer-events: none;
}

.main-container__projets .text p,
.main-container__about .text p {
  font-size: 1.8em;
  text-align: center;
  padding: 55px 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-family: "Federo", sans-serif;
}

.main-container__projets:hover .projet__text p,
.main-container__about:hover .about__text p {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  opacity: 1;
}

.text__container {
  position: relative;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  text-align: justify;
  padding: 0 30%;
  font-size: 2rem;
  font-weight: 900;
  font-family: "Wire One", sans-serif;
}

.text__container p {
  margin: 15px 0;
}

.about-circle {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #bc69aa;
  opacity: 0.5;
  z-index: -5;
}

.circle-1 {
  top: 571px;
  left: 93px;
  -webkit-transform: scale(2.511);
          transform: scale(2.511);
}

.circle-2 {
  top: 487px;
  left: 53px;
  -webkit-transform: scale(0.1854);
          transform: scale(0.1854);
}

.circle-3 {
  top: 298px;
  left: 782px;
  -webkit-transform: scale(1.63881);
          transform: scale(1.63881);
}

.circle-4 {
  top: 411px;
  left: 1125px;
  -webkit-transform: scale(0.24465);
          transform: scale(0.24465);
}

.circle-5 {
  top: 544px;
  left: 1013px;
  -webkit-transform: scale(2.92109);
          transform: scale(2.92109);
}

.circle-6 {
  top: 445px;
  left: 1054px;
  -webkit-transform: scale(1.7872);
          transform: scale(1.7872);
}

.circle-7 {
  top: 420px;
  left: 352px;
  -webkit-transform: scale(2.58099);
          transform: scale(2.58099);
}

.circle-8 {
  top: 242px;
  left: 79px;
  -webkit-transform: scale(1.93912);
          transform: scale(1.93912);
}

.circle-9 {
  top: 484px;
  left: 621px;
  -webkit-transform: scale(1.25441);
          transform: scale(1.25441);
}

.circle-10 {
  top: 137px;
  left: 683px;
  -webkit-transform: scale(1.95911);
          transform: scale(1.95911);
}

.circle-11 {
  top: 512px;
  left: 215px;
  -webkit-transform: scale(2.41121);
          transform: scale(2.41121);
}

.circle-12 {
  top: 553px;
  left: 1040px;
  -webkit-transform: scale(1.20873);
          transform: scale(1.20873);
}

.circle-13 {
  top: 258px;
  left: 659px;
  -webkit-transform: scale(0.39479);
          transform: scale(0.39479);
}

.circle-14 {
  top: 697px;
  left: 939px;
  -webkit-transform: scale(2.93679);
          transform: scale(2.93679);
}

.circle-15 {
  top: 473px;
  left: 695px;
  -webkit-transform: scale(1.15575);
          transform: scale(1.15575);
}

h1,
h2 {
  font-family: "Federo", sans-serif;
}

.title__container {
  text-align: center;
}

.projectpage-title {
  margin: 40px 0;
}

.project__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.project {
  -webkit-box-shadow: 0px 2px 10px 2px;
          box-shadow: 0px 2px 10px 2px;
  margin: 10px;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 900;
}

.project:hover .img__container .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.project:hover .img__container .project__button {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.project__card p {
  background: #f06449;
  margin: 0;
  padding: 15px;
  border-radius: 0 0 5px 5px;
}

.img__container {
  position: relative;
  width: 400px;
  height: 400px;
}

.img__container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: solid 1px;
  border-radius: 5px 5px 0 0;
}

.img__container .overlay {
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 400px;
  height: 400px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.img__container .project__button {
  all: unset;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 10px;
  background-color: #f06449;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  cursor: pointer;
}

.project__big-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(240, 100, 73, 0.9);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  z-index: 200;
}

.project__big-overlay button {
  all: unset;
  float: left;
  font-size: 1.5rem;
  padding: 10px;
}

.project__big-overlay .big__header p {
  margin: 15px 15%;
}

.project__big-overlay .big__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0 0 0;
}

.project__big-overlay .big__img-container figure {
  width: 600px;
  margin: 20px 0;
}

.project__big-overlay .big__img-container img {
  width: 85%;
  height: auto;
}

.project__big-overlay .big__img-container--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (300px)[3];
      grid-template-rows: repeat(3, 300px);
  margin-top: 50px;
  justify-items: center;
}

.project__big-overlay .big__img-container--grid figure {
  margin: 20px 0;
}

.project__big-overlay .big__img-container--grid .two {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.project__big-overlay .big__img-container--grid .two img {
  width: 75%;
}

.project__big-overlay .big__img-container--grid .four {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 3;
}

.project__big-overlay .overlay__link {
  padding: 50px 0 20px 0;
}

.project__big-overlay .overlay__link a {
  margin: 0 10px;
  color: #fff;
}

.visible {
  -webkit-animation: visible 1s ease-in forwards;
          animation: visible 1s ease-in forwards;
  height: auto;
  overflow-y: hidden;
}

.invisible {
  -webkit-animation: invisible 1s ease-out forwards;
          animation: invisible 1s ease-out forwards;
}

body {
  width: 100vw;
}

@media all and (max-width: 768px) {
  h1 {
    -webkit-animation: none;
            animation: none;
    text-align: center;
    font-size: 1.5rem;
  }
}

@media all and (max-width: 768px) {
  .main-container {
    display: initial;
  }
}

@media all and (max-width: 768px) {
  .main-container .piece {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .main-container__projets {
    left: 50%;
    top: 80px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: initial;
  }
}

@media all and (max-width: 768px) {
  .main-container__projets .projet__text {
    width: 150px;
    height: 150px;
  }
}

@media all and (max-width: 768px) and (max-width: 768px) {
  .main-container__projets .projet__text p {
    font-size: 1.2em;
    padding: 45px;
    opacity: 1;
  }
}

@media all and (max-width: 768px) {
  .main-container__about {
    left: 50%;
    top: 150px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: initial;
  }
}

@media all and (max-width: 768px) {
  .main-container__about .about__text {
    width: 150px;
    height: 150px;
  }
}

@media all and (max-width: 768px) and (max-width: 768px) {
  .main-container__about .about__text p {
    font-size: 1.2em;
    opacity: 1;
  }
}

@media all and (max-width: 768px) {
  .text__container {
    padding: 0 20px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media all and (max-width: 768px) {
  .about-circle {
    display: none;
  }
}

@media all and (max-width: 768px) {
  aside {
    position: initial;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media all and (max-width: 768px) {
  .homepage--aside {
    position: absolute;
    top: 90vh;
    width: 100vw;
  }
}

@media all and (max-width: 768px) {
  .icon__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=style.css.map */