@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Monoton&display=swap");
body,
h1 {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
}

.main-container .piece {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  color: #fff;
  opacity: 0.5;
  z-index: -5;
  pointer-events: none;
}

.main-container .piece:nth-child(1) {
  top: -354px;
  left: 133px;
  -webkit-transform: scale(0.1106);
          transform: scale(0.1106);
}

.main-container .piece:nth-child(2) {
  top: 281px;
  left: 273px;
  -webkit-transform: scale(1.91879);
          transform: scale(1.91879);
}

.main-container .piece:nth-child(3) {
  top: -171px;
  left: 86px;
  -webkit-transform: scale(1.09194);
          transform: scale(1.09194);
}

.main-container .piece:nth-child(4) {
  top: 366px;
  left: -16px;
  -webkit-transform: scale(0.15569);
          transform: scale(0.15569);
}

.main-container .piece:nth-child(5) {
  top: 149px;
  left: -346px;
  -webkit-transform: scale(0.82131);
          transform: scale(0.82131);
}

.main-container .piece:nth-child(6) {
  top: 265px;
  left: -36px;
  -webkit-transform: scale(1.92204);
          transform: scale(1.92204);
}

.main-container .piece:nth-child(7) {
  top: 244px;
  left: -77px;
  -webkit-transform: scale(0.35527);
          transform: scale(0.35527);
}

.main-container .piece:nth-child(8) {
  top: -389px;
  left: 147px;
  -webkit-transform: scale(1.40475);
          transform: scale(1.40475);
}

.main-container .piece:nth-child(9) {
  top: 70px;
  left: 307px;
  -webkit-transform: scale(0.61986);
          transform: scale(0.61986);
}

.main-container .piece:nth-child(10) {
  top: 62px;
  left: 108px;
  -webkit-transform: scale(1.13263);
          transform: scale(1.13263);
}

.main-container__projets {
  position: relative;
  width: 150px;
  height: 150px;
  border: solid 1px;
  border-radius: 50%;
}

.main-container__projets:hover .projet__text p {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  opacity: 1;
}

.main-container__projets .projet__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -4;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  pointer-events: none;
}

.main-container__projets .projet__text p {
  font-size: 1.2em;
  text-align: center;
  padding: 45px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-family: "Cinzel Decorative", cursive;
}

.main-container__about {
  position: relative;
  width: 150px;
  height: 150px;
  border: solid 1px;
  border-radius: 50%;
}

.main-container__about:hover .about__text p {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  opacity: 1;
}

.main-container__about .about__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -4;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  pointer-events: none;
}

.main-container__about .about__text p {
  font-size: 1.2em;
  text-align: center;
  padding: 25px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-family: "Cinzel Decorative", cursive;
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
}

body {
  background-color: yellow;
}
/*# sourceMappingURL=style.css.map */