@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Monoton&display=swap");
body,
h1 {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

h1 {
  font-family: "Cinzel Decorative", cursive;
  -webkit-animation: title-animation 15s linear infinite;
          animation: title-animation 15s linear infinite;
}

@-webkit-keyframes title-animation {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes title-animation {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
}

.main-container .piece {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  color: #fff;
  opacity: 0.5;
  z-index: -5;
  pointer-events: none;
}

.main-container .piece:nth-child(1) {
  top: 205px;
  left: -196px;
  -webkit-transform: scale(0.32917);
          transform: scale(0.32917);
}

.main-container .piece:nth-child(2) {
  top: -245px;
  left: -246px;
  -webkit-transform: scale(1.86888);
          transform: scale(1.86888);
}

.main-container .piece:nth-child(3) {
  top: 113px;
  left: -207px;
  -webkit-transform: scale(0.58655);
          transform: scale(0.58655);
}

.main-container .piece:nth-child(4) {
  top: -121px;
  left: -206px;
  -webkit-transform: scale(0.41285);
          transform: scale(0.41285);
}

.main-container .piece:nth-child(5) {
  top: 345px;
  left: 259px;
  -webkit-transform: scale(0.29847);
          transform: scale(0.29847);
}

.main-container .piece:nth-child(6) {
  top: 134px;
  left: 203px;
  -webkit-transform: scale(0.89261);
          transform: scale(0.89261);
}

.main-container .piece:nth-child(7) {
  top: 246px;
  left: -252px;
  -webkit-transform: scale(1.86893);
          transform: scale(1.86893);
}

.main-container .piece:nth-child(8) {
  top: 238px;
  left: 297px;
  -webkit-transform: scale(0.8885);
          transform: scale(0.8885);
}

.main-container .piece:nth-child(9) {
  top: 78px;
  left: 176px;
  -webkit-transform: scale(0.79371);
          transform: scale(0.79371);
}

.main-container .piece:nth-child(10) {
  top: -130px;
  left: -279px;
  -webkit-transform: scale(1.37079);
          transform: scale(1.37079);
}

.main-container__projets {
  position: relative;
  width: 150px;
  height: 150px;
  border: solid 1px;
  border-radius: 50%;
}

.main-container__projets:hover .projet__text p {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  opacity: 1;
}

.main-container__projets .projet__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -4;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  pointer-events: none;
}

.main-container__projets .projet__text p {
  font-size: 1.2em;
  text-align: center;
  padding: 45px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-family: "Cinzel Decorative", cursive;
}

.main-container__about {
  position: relative;
  width: 150px;
  height: 150px;
  border: solid 1px;
  border-radius: 50%;
}

.main-container__about:hover .about__text p {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  opacity: 1;
}

.main-container__about .about__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -4;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  pointer-events: none;
}

.main-container__about .about__text p {
  font-size: 1.2em;
  text-align: center;
  padding: 15px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-family: "Cinzel Decorative", cursive;
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
}

body {
  width: 100vw;
}

@media all and (max-width: 500px) {
  h1 {
    -webkit-animation: none;
            animation: none;
    text-align: center;
    font-size: 1.5rem;
  }
}

@media all and (max-width: 500px) {
  .main-container {
    display: initial;
  }
}

@media all and (max-width: 500px) {
  .main-container .piece {
    display: none;
  }
}

@media all and (max-width: 500px) {
  .main-container__projets {
    left: 50%;
    top: 80px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: initial;
  }
}

@media all and (max-width: 500px) {
  .main-container__projets .projet__text {
    width: 150px;
    height: 150px;
  }
}

@media all and (max-width: 500px) and (max-width: 500px) {
  .main-container__projets .projet__text p {
    font-size: 1.2em;
    padding: 45px;
    opacity: 1;
  }
}

@media all and (max-width: 500px) {
  .main-container__about {
    left: 50%;
    top: 150px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: initial;
  }
}

@media all and (max-width: 500px) {
  .main-container__about .about__text {
    width: 150px;
    height: 150px;
  }
}

@media all and (max-width: 500px) and (max-width: 500px) {
  .main-container__about .about__text p {
    font-size: 1.2em;
    opacity: 1;
  }
}

body {
  background-color: yellow;
}
/*# sourceMappingURL=style.css.map */