body,
h1 {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
}

.main-container__projets {
  position: relative;
  width: 100px;
  height: 100px;
  border: solid 1px;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.main-container__projets:hover {
  border: solid transparent;
}

.main-container__projets .piece {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  color: #fff;
  opacity: 0.5;
  z-index: -5;
}

.main-container__projets .piece:nth-child(1) {
  top: -213px;
  left: -250px;
  -webkit-transform: scale(0.34019);
          transform: scale(0.34019);
}

.main-container__projets .piece:nth-child(2) {
  top: -385px;
  left: 246px;
  -webkit-transform: scale(1.48473);
          transform: scale(1.48473);
}

.main-container__projets .piece:nth-child(3) {
  top: -387px;
  left: 103px;
  -webkit-transform: scale(1.77901);
          transform: scale(1.77901);
}

.main-container__projets .piece:nth-child(4) {
  top: -399px;
  left: -343px;
  -webkit-transform: scale(1.64861);
          transform: scale(1.64861);
}

.main-container__projets .piece:nth-child(5) {
  top: 327px;
  left: -199px;
  -webkit-transform: scale(0.98155);
          transform: scale(0.98155);
}

.main-container__projets .piece:nth-child(6) {
  top: -287px;
  left: 200px;
  -webkit-transform: scale(0.26839);
          transform: scale(0.26839);
}

.main-container__projets .piece:nth-child(7) {
  top: 222px;
  left: -172px;
  -webkit-transform: scale(0.66242);
          transform: scale(0.66242);
}

.main-container__projets .piece:nth-child(8) {
  top: 231px;
  left: 134px;
  -webkit-transform: scale(1.774);
          transform: scale(1.774);
}

.main-container__projets .piece:nth-child(9) {
  top: 132px;
  left: -251px;
  -webkit-transform: scale(1.17912);
          transform: scale(1.17912);
}

.main-container__projets .piece:nth-child(10) {
  top: 273px;
  left: -32px;
  -webkit-transform: scale(0.68077);
          transform: scale(0.68077);
}

.main-container__projets .ten {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 10px;
  overflow: hidden;
}

.main-container__projets .about__text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

.main-container__about {
  position: relative;
  width: 100px;
  height: 100px;
  border: solid 1px;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.main-container__about:hover {
  border: solid transparent;
}

.main-container__about .piece {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  color: #fff;
  opacity: 0.5;
  z-index: -5;
}

.main-container__about .piece:nth-child(1) {
  top: -370px;
  left: -226px;
  -webkit-transform: scale(1.63007);
          transform: scale(1.63007);
}

.main-container__about .piece:nth-child(2) {
  top: 261px;
  left: 199px;
  -webkit-transform: scale(0.01717);
          transform: scale(0.01717);
}

.main-container__about .piece:nth-child(3) {
  top: 383px;
  left: -347px;
  -webkit-transform: scale(0.81117);
          transform: scale(0.81117);
}

.main-container__about .piece:nth-child(4) {
  top: 275px;
  left: 154px;
  -webkit-transform: scale(0.79427);
          transform: scale(0.79427);
}

.main-container__about .piece:nth-child(5) {
  top: -354px;
  left: -186px;
  -webkit-transform: scale(1.53378);
          transform: scale(1.53378);
}

.main-container__about .piece:nth-child(6) {
  top: 192px;
  left: 387px;
  -webkit-transform: scale(1.93103);
          transform: scale(1.93103);
}

.main-container__about .piece:nth-child(7) {
  top: 57px;
  left: 373px;
  -webkit-transform: scale(1.18494);
          transform: scale(1.18494);
}

.main-container__about .piece:nth-child(8) {
  top: -160px;
  left: -311px;
  -webkit-transform: scale(0.84789);
          transform: scale(0.84789);
}

.main-container__about .piece:nth-child(9) {
  top: 118px;
  left: -132px;
  -webkit-transform: scale(0.10143);
          transform: scale(0.10143);
}

.main-container__about .piece:nth-child(10) {
  top: -271px;
  left: -118px;
  -webkit-transform: scale(1.52611);
          transform: scale(1.52611);
}

.main-container__about .ten {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 10px;
  overflow: hidden;
}

.main-container__about .about__text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
}

body {
  background-color: yellow;
}
/*# sourceMappingURL=style.css.map */