//font
@import url("https://fonts.googleapis.com/css2?family=Federo&family=Russo+One&family=Six+Caps&family=Wire+One&display=swap");

$font-header: "Federo", sans-serif;
$font-paragraph: "Wire One", sans-serif;

//colors
$primary-color: #f9e7e7;
$secondary-color: #bc69aa;
$third-color: #f06449;

//map
$breakpoints: (
	tablette-s: 500px,
	tablette: 768px,
	desktop-s: 1000px,
	desktop-m: 1200px,
	desktop-l: 1400px,
);
