.text__container {
	position: relative;
	transform: translateY(20%);
	text-align: justify;
	padding: 0 30%;
	font-size: 2rem;
	font-weight: 900;
	font-family: $font-paragraph;
	p {
		margin: 15px 0;
	}
}
.about-circle {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: $secondary-color;
	opacity: 0.5;
	z-index: -5;
}
@for $i from 1 through 15 {
	.circle-#{$i} {
		top: random(700) + px;
		left: random(1200) + px;
		transform: scale(random() * 3);
	}
}
