header nav {
	padding: 10px 50px 10px 40px;
}
header ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	li {
		text-decoration: underline;
		z-index: 30;
		font-family: $font-header;
		font-size: 2rem;
	}
}
