* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
h1 {
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
li {
	list-style: none;
}
// ::selection {
// 	background: red;
// }
