.homepage-title {
	font-family: $federo;
}
.main-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	transform: translateY(30vh);
	.piece {
		position: absolute;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: $secondary-color;
		opacity: 0.5;
		z-index: -5;
		pointer-events: none;
	}
	@for $i from 1 through 10 {
		.piece:nth-child(#{$i}) {
			top: random(800) - 400 + px;
			left: random(800) - 400 + px;
			transform: scale(random() * 2);
		}
	}
}
.main-container__projets,
.main-container__about {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	&:hover .circle {
		animation: none;
		opacity: 0;
	}
	.circle {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -100;
		opacity: 0;
		width: 120px;
		height: 120px;
		border-radius: 50%;
	}
	.circle--origin {
		opacity: 1;
		width: 35px;
		height: 35px;
		background: $third-color;
	}
	.circle--one {
		border: solid $secondary-color 12px;
		animation: ripple 5s infinite;
	}
	.circle--two {
		border: solid $third-color 12px;
		animation: ripple 5s infinite;
		animation-delay: 1.6s;
	}
	.circle--three {
		border: solid $secondary-color 12px;
		animation: ripple 5s infinite;
		animation-delay: 3.3s;
	}
	.text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -2;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		transition: all 0.8s;
		pointer-events: none;
		p {
			font-size: 1.2em;
			text-align: center;
			padding: 45px 30px;
			opacity: 0;
			pointer-events: none;
			transition-duration: 0.3s;
			font-family: $first-font;
		}
		.text--padding {
			padding: 25px;
		}
	}
}
.main-container__projets:hover .projet__text p,
.main-container__about:hover .about__text p {
	transition-delay: 1s;
	transition-duration: 1s;
	opacity: 1;
}
