.homepage-title {
	//font-family: $first-font;
	font-family: $federo;
	//font-family: $font-six;
	//font-size: 3rem;
	text-transform: uppercase;
	//animation: homepage-slideX 30s linear infinite;
}
.main-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	transform: translateY(30vh);
	.piece {
		position: absolute;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: $secondary-color;
		color: #fff;
		opacity: 0.5;
		z-index: -5;
		pointer-events: none;
	}
	@for $i from 1 through 10 {
		.piece:nth-child(#{$i}) {
			top: random(800) - 400 + px;
			left: random(800) - 400 + px;
			transform: scale(random() * 2);
		}
	}
}

.main-container__projets {
	position: relative;
	width: 150px;
	height: 150px;
	border: solid 5px;
	border-radius: 50%;
	&:hover .projet__text p {
		transition-delay: 1s;
		transition-duration: 1s;
		opacity: 1;
	}
	&:hover .projet__circle--origin,
	&:hover .projet__circle--one,
	&:hover .projet__circle--two,
	&:hover .projet__circle--three {
		animation: none;
		opacity: 0;
	}
	.projet__circle {
		position: absolute;
		opacity: 0;
		width: 130px;
		height: 130px;
		border-radius: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -100;
	}
	.projet__circle--origin {
		opacity: 1;
		transform: initial;
		position: absolute;
		width: 40px;
		height: 40px;
		background: $third-color;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		z-index: -110;
	}
	.projet__circle--one {
		border: solid $secondary-color 15px;
		animation: ripple 6s infinite;
	}
	.projet__circle--two {
		border: solid $third-color 15px;
		animation: ripple 6s infinite;
		animation-delay: 2s;
	}
	.projet__circle--three {
		border: solid $secondary-color 15px;
		animation: ripple 6s infinite;
		animation-delay: 4s;
	}
	.projet__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -4;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		transition: all 0.8s;
		pointer-events: none;
		p {
			font-size: 1.2em;
			text-align: center;
			padding: 45px;
			opacity: 0;
			pointer-events: none;
			transition-duration: 0.3s;
			font-family: $first-font;
		}
	}
}
.main-container__about {
	position: relative;
	width: 150px;
	height: 150px;
	border: solid 5px;
	border-radius: 50%;
	&:hover .about__text p {
		transition-delay: 1s;
		transition-duration: 1s;
		opacity: 1;
	}
	&:hover .about__circle--origin,
	&:hover .about__circle--one,
	&:hover .about__circle--two,
	&:hover .about__circle--three {
		animation: none;
		opacity: 0;
	}
	.about__circle {
		position: absolute;
		opacity: 0;
		width: 130px;
		height: 130px;
		border-radius: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -100;
	}
	.about__circle--origin {
		opacity: 1;
		transform: initial;
		position: absolute;
		width: 40px;
		height: 40px;
		background: $third-color;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		z-index: -110;
	}
	.about__circle--one {
		border: solid $secondary-color 15px;
		animation: ripple 6s infinite;
	}
	.about__circle--two {
		border: solid $third-color 15px;
		animation: ripple 6s infinite;
		animation-delay: 2s;
	}
	.about__circle--three {
		border: solid $secondary-color 15px;
		animation: ripple 6s infinite;
		animation-delay: 4s;
	}
	.about__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -4;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		transition: all 0.8s;
		transition-delay: 0.8s;
		pointer-events: none;
		p {
			font-size: 1.2em;
			text-align: center;
			padding: 15px;
			opacity: 0;
			pointer-events: none;
			transition-duration: 0.5s;
			font-family: $first-font;
		}
	}
}
