.projectpage-title {
	margin: 40px 0;
}
.project__container {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.project {
	box-shadow: 0px 1px 5px 5px;
	margin: 10px;
	border-radius: 5px;
	&:hover .img__container .overlay {
		background-color: rgba($color: black, $alpha: 0.5);
		transition: background-color 0.5s;
	}
	&:hover .img__container .project__button {
		opacity: 1;
		transition: opacity 0.5s;
	}
}
.project__card p {
	background: $third-color;
	margin: 0;
	padding: 15px;
	border-radius: 0 0 5px 5px;
}
.img__container {
	position: relative;
	width: 400px;
	height: 400px;
	.overlay {
		position: absolute;
		left: 0;
		//background-color: red;
		background-color: rgba($color: black, $alpha: 0);
		//opacity: 0;
		width: 400px;
		height: 400px;
		transition: background-color 0.5s;
	}
	.project__button {
		all: unset;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 10px;
		font-size: 1.2rem;
		border-radius: 10px;
		background-color: $third-color;
		opacity: 0;
		transition: opacity 0.5s;
		cursor: pointer;
	}
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-bottom: solid 1px;
	border-radius: 5px 5px 0 0;
}
.big_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	background-color: rgba($color: $third-color, $alpha: 0.9);
	//background-color: rgba($color: black, $alpha: 0.9);
	transform: scaleY(0);
	transform-origin: top;
	z-index: 200;
	//.close_overlay {
	button {
		all: unset;
		float: left;
		font-size: 1.5rem;
		padding: 10px;
	}
	.project-title {
		margin-top: 50px;
	}
	.big__img-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		figure {
			width: 600px;
			margin: 0;
		}
		img {
			width: 80%;
		}
	}
	.big__img-container--grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3, 300px);
		margin-top: 50px;
		figure {
			margin: 0;
		}
		.two {
			grid-column-start: 2;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 3;
		}
		.four {
			grid-column-start: 1;
			grid-column-end: 1;
			grid-row-start: 3;
			grid-row-end: 3;
		}
	}

	img {
		width: 65%;
		height: auto;
	}
	.overlay__link {
		padding: 50px 0 20px 0;
		a {
			margin: 0 10px;
		}
	}
}
.visible {
	animation: visible 1s ease-in forwards;
	height: auto;
	overflow-y: hidden;
	//font-size: 1.5rem;
}
.invisible {
	animation: invisible 1s ease-out forwards;
}
