.project__container {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.img__container {
	position: relative;
	width: 400px;
	height: 400px;
	.overlay {
		position: absolute;
		left: 0;
		background-color: red;
		opacity: 0;
		width: 400px;
		height: 400px;
		transition: opacity 0.5s;
	}
	// &::after {
	// 	content: "Voir plus";
	// 	position: absolute;
	// 	left: 0;
	// 	background-color: red;
	// 	opacity: 0.5;
	// 	width: 400px;
	// 	height: 400px;
	// }
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	//border: solid;
}
.ohmyfood {
	// width: 400px;
	// height: 400px;
	border: solid green;
	margin: 10px;
	//background-color: blue;
	// p {
	// 	border: solid;
	// }
	&:hover .img__container .overlay {
		opacity: 1;
		transition: opacity 0.5s;
	}
}
.big_overlay {
	//display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	background-color: black;
	transform: scaleY(0);
	opacity: 0.9;
	color: white;
	z-index: 200;
	img {
		width: 200px;
		height: auto;
	}
}
.visible {
	//display: block;
	animation: visible 1s ease-in forwards;
	height: auto;
	overflow-y: hidden;
	//font-size: 1.5rem;
}
.invisible {
	animation: invisible 1s ease-out forwards;
	//display: none;
}

@keyframes visible {
	0% {
		transform: scaleY(0);
		//transform: scaleX(0);
	}
	50% {
		transform: scaleY(0.005);
		//transform: scaleX(0.1);
	}
	100% {
		transform: scaleY(1);
		//transform: scaleX(1);
	}
}
@keyframes invisible {
	0% {
		transform: scaleY(1);
		//display: block;
	}
	50% {
		transform: scaleY(0.005);
	}
	100% {
		transform: scaleY(0);
		opacity: 0;
		//display: none;
	}
}
// @keyframes visible {
// 	0% {
// 		opacity: 0;
// 	}
// 	100% {
// 		opacity: 1;
// 	}
// }
