//homepage animation
@keyframes homepage-slideX {
	0% {
		transform: translateX(-75%);
	}
	100% {
		transform: translateX(75%);
	}
}

// @keyframes homepage-circle {
// 	0% {
// 		opacity: 0;
// 	}
// 	50% {
// 		opacity: 1;
// 	}
// 	100% {
// 		opacity: 0;
// 	}
// }
@keyframes ripple {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		width: 40px;
		height: 40px;
	}
}
