//homepage animation
@keyframes homepage-slideX {
	0% {
		transform: translateX(-75%);
	}
	100% {
		transform: translateX(75%);
	}
}

// @keyframes homepage-circle {
// 	0% {
// 		opacity: 0;
// 	}
// 	50% {
// 		opacity: 1;
// 	}
// 	100% {
// 		opacity: 0;
// 	}
// }
@keyframes ripple {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		width: 35px;
		height: 35px;
	}
}

//project page
@keyframes visible {
	0% {
		transform: scaleY(0);
		//transform: scaleX(0);
	}
	50% {
		transform: scaleY(0.005);
		//transform: scaleX(0.1);
	}
	100% {
		transform: scaleY(1);
		//transform: scaleX(1);
	}
}

@keyframes invisible {
	0% {
		transform: scaleY(1);
		//display: block;
	}
	50% {
		transform: scaleY(0.005);
	}
	100% {
		transform: scaleY(0);
		opacity: 0;
		//display: none;
	}
}
