//font
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Monoton&display=swap");
$first-font: "Cinzel Decorative", cursive;
//$first-font: "Monoton", cursive;

//map
$breakpoints: (
	tablette-s: 500px,
	tablette: 768px,
	desktop-s: 1000px,
	desktop-m: 1200px,
	desktop-l: 1400px,
);
